:root {
  --cor1: #24221f;
  --cor2: #ffc632;
  --cor3: #473404;
  --cor4: #191816;
}

.font {
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
}

.p_yellow {
  color: #ffc632;
}

.text {
  text-align: center;
  font-size: 0.7rem;
}
